.TypeDummy {
  .loadingContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .loadingWrapper {
      position: relative;
    }
  }
}